 body,h1,h2,p{
    margin:0;
    font-family:"Roboto", sans-serif ;
 }
 .main-div{
    background-color: #f0f2f5;
    display: flex;
    justify-content:center;
    flex-direction:column;
    align-items: center;
    padding-bottom: 50px;
}
#logo{
   font-size: 56px;
   color:#0866ff;
   padding: 20px 0px;
}
.signup-form{
   background-color: white;
   width: 480px;
   border-radius: 8px;
}
.form-heading{
   text-align: center;
   padding:10px;
   border-bottom: 1px solid #ccc;
}
h2{
   padding-bottom: 5px;
}
.input-fields{
   padding: 15px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
input,select{
   padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
    font-size:15px ;
}
.half-width{
   width: 48%;
   display: flex;
}
.full-width{
   width: 100%;
   display: flex;
}
lable{
   font-size:12px;
   color: #606770;
   padding-bottom: 10px;
}
.quat-width{
   width:31%;
   display:flex;
}
.dob-div{
   display:flex;
   width:100%;
   justify-content:space-between;
}
.radio-btn{
   border:1px solid #ccc;
   border-radius:5px;
   width:100%; 
   padding: 8px;
   align-items: center;
   display:flex;
   justify-content: space-between;
}
.radio-label{
   padding: bottom 0; 
   font-size: 15px;
}
.radio-input{
   margin:0;
   width:auto;
}
small{
   padding-top: 10px;
   font-size:11.75px;
   color:#777;
}
a{
   text-decoration: none;
}
.button-div{
   padding:15px 0;
   display: flex;
   justify-content: center;
   width:100%;


}
.signup-btn{
   border: 0;
   background-color:#00a400;
   color: white;
   padding: 8px 55px;
   border-radius: 5px;
   font-size: 18px;
   font-weight: 600;
}
.account-div{
   display: flex;
   justify-content: center;
   width: 100%;
   padding-top: 8px;
   padding-bottom: 15px;
}