h1{
            color:blue;
        }
        #para1{ font-size:30px;
            color:red;
            background-color:beige;
            border:4px solid black

        }
        .c{
            color:rgb(240, 249, 244);
            background-color: blueviolet;
        }