@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.navbar-brand{
    font-family: "Matemasie", sans-serif;
    font-weight:600;
}
nav{
width:100%;
position:sticky !important;
left:0;
top:0;
box-shadow:0px 5px 8px rgb(0,0,0,.5);
z-index:10;
}
.nav-link{
    color: white ;
    border-bottom:1px solid transparent;
}
.nav-link:hover{
    border-bottom:1px solid white;
}

section {
    width:100%;
    min-height:100vh;
}
#home{
    width:100%;
    height:100vh;
    background: url(/portfolio/images/WhatsApp\ Image\ 2025-10-29\ at\ 16.17.32_8a6cbe35.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    align-items: center;
    color:black;
    flex-direction: column;
}
#home p{
    position: absolute;
    top: 50%;
    font-size: 70px;
    opacity: 0;
    animation: text 3s ease-in-out;
}
#home p:nth-child(1){
    animation-delay: 0s;
}
#home p:nth-child(2){
    animation-delay: 3s;
}
#home p:nth-child(3){
    animation-delay: 6s;
}
@keyframes text{
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
#home span{
   color:rgb(97, 94, 90);
}
@media screen and (max-width:576px){
    #home p{
        font-size: 70px;
    }
}
    
